.main {
  color: white;
}

.react {
  min-height: calc(100vh - 54px);
  text-align: center;
  background-color: #282c34;
}

.react-logo {
  width: 30vmin;
  height: 26.7vmin;
  pointer-events: none;
  background-image: url('@/assets/images/logo.svg');
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
