/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// Fonts
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

// 3rd party plugins
@import "sweetalert2/dist/sweetalert2.css";
@import "vue-toastification/dist/index.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "@vuepic/vue-datepicker/dist/main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9357rem;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #333;
}

.dp__input {
  border: 0 !important;
  font-family: "Prompt", sans-serif !important;
  line-height: 1.5 !important;
  font-size: 0.9375rem !important;
  color: #495057 !important;
}
