<div class="panel">
  <div class="d-flex justify-content-between">
    <div>
      <h1>{{ city?.name }}</h1>
      <p class="fs-5 mt-2">{{ today | date:'fullDate':'UTC':'en-US' }}</p>
    </div>
    <div>
      <p class="fs-1">{{ city?.main?.temp }}°</p>
    </div>
  </div>
  <div class="text-center" style="height: 200px;">
    <img
      [src]="weatherIcon(city?.weather)"
      width="200"
      height="200"
      alt="weather icon"
      [title]="weatherName(city?.weather)"
    />
  </div>
  <div class="mt-4">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search a city..."
        [(ngModel)]="input"
        (keyup.Enter)="searchClick()"
      />
      <button
        type="button"
        class="btn btn-primary"
        (click)="searchClick()"
        [disabled]="(status$ | async) === 'loading'"
      >
        <span class="fa-solid fa-search me-2"></span>Search
      </button>
    </div>
  </div>
</div>
