<div class="panel text-center">
  <h1>Oops, we can&apos;t find that city</h1>
  <button
    type="button"
    class="btn btn-primary mt-5"
    (click)="goBackClick()"
  >
    <span class="fa-solid fa-rotate-left me-2"></span>Go Back
  </button>
</div>

