<script setup lang="ts">
  import { useTodoStore } from '@/store/todo/todo.store';
  import { Todo } from '@/store/todo/todo.model';
  import { useDateFormat } from '@/composables/dateFormat';
  import $ from 'jquery';
  import Datatables from 'datatables.net';
  import dataTables from 'datatables.net-bs5';

  const emit = defineEmits([
    'selected'
  ]);

  const store = useTodoStore();
  const todos = store.todos;
  const status = store.status;
  const dateFormat = useDateFormat();
  const datatable = ref<HTMLTableElement>();
  const dtInstance = ref<InstanceType<typeof Datatables.Api>>();
  const options = {
    pageLength: 25,
    autoWidth: false,
    columns: [
      { width: '10%' },
      { width: '30%' },
      { width: '30%' },
      { width: '30%' },
    ],
  };

  onMounted(() => {
    new dataTables();
  });

  watchEffect(() => {
    const dt = datatable.value;

    if (dt) {
      if ($.fn.dataTable.isDataTable(dt)) {
        dtInstance.value?.destroy();
      }

      if (!$.fn.dataTable.isDataTable(dt)) {
          const instance = $(dt).DataTable<HTMLTableElement>(options);
          dtInstance.value = instance;
      }
    }
  });

  onUnmounted(() => {
    dtInstance.value?.destroy();
  });

  const selectedItem = (todo: Todo) => {
    emit('selected', todo);
  };

  const thaiDate = (date: Date) =>
    dateFormat.toThaiDate(date, 'long');
</script>

<template>
  <div
    v-if="status !== 'loading'"
    class="table-responsive mt-3"
  >
    <table ref="datatable" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Todo</th>
          <th scope="col">Date</th>
          <th scope="col">Done</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(todo, index) in todos"
          :key="todo.id"
          class="hover"
          @click="selectedItem(todo)"
        >
          <td>{{index + 1}}.</td>
          <td class="text-primary">
            <span class="far fa-note-sticky me-2"></span>{{todo.name}}
          </td>
          <td>{{thaiDate(todo.date)}}</td>
          <td :class="todo.isDone ? 'text-success' : 'text-danger'">
            <span
              class="far"
              :class="todo.isDone ? 'fa-circle-check' : 'fa-circle-xmark'">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped lang="scss">
  .hover {
    cursor: pointer;
  }
</style>
