<script setup lang="ts">
  import { PropType } from 'vue';
  import { useWeatherStore } from '@/store/weather/weather.store';
  import type { City } from '@/store/weather/weather.model';

  defineProps({
    city: {
      type: Object as PropType<City>,
      required: true,
    },
  });

  const emit = defineEmits([
    'search'
  ]);

  const store = useWeatherStore();
  const status = store.status;
  const input = ref('');
  const today = new Date();

  const searchClick = () => {
    if (input.value.length !== 0) {
      const formatedSearch = input.value.trim().toLowerCase().replace(/\s\s+/g, ' ').split(' ').join('+');
      input.value = '';
      emit('search', formatedSearch);
    }
  };

  const weatherIcon = (weathers?: Array<{ id: number; main: string; description: string; icon: string; }>) => {
    const icon = (weathers)
      ? weathers.length !== 0
        ? weathers[0].icon
        : '01d'
      : '01d';
      
    return `https://openweathermap.org/img/wn/${icon}@4x.png`;
  };

  const weatherName = (weathers?: Array<{ id: number; main: string; description: string; icon: string; }>) => {
    return (weathers)
      ? (weathers.length !== 0)
        ? weathers[0].main
        : ''
      : '';
  };
</script>

<template>
  <div class="panel">
    <div class="d-flex justify-content-between">
      <div>
        <h1>{{city.name}}</h1>
        <p class="fs-5 mt-2">{{today.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</p>
      </div>
      <div>
        <p class="fs-1">{{city.main?.temp}}°</p>
      </div> 
    </div>
    <div class="text-center" style="height: 200px;">
      <img
        :src="weatherIcon(city.weather)"
        width="200"
        height="200"
        alt="weather icon"
        :title="weatherName(city.weather)"
      />
    </div>
    <div class="mt-4">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search a city..."
          v-model="input"
          @keyup.enter="searchClick"
        />
        <button
          type="button"
          class="btn btn-primary"
          @click="searchClick"
          :disabled="status === 'loading'"
        >
          <span class="fa-solid fa-search me-2"></span>Search
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .panel {
    background-color: rgba($color: #000000, $alpha: 0.25);
    padding: 2rem;
    border-radius: 20px;
  }
</style>