<script setup lang="ts">
  useHead({
    title: 'About'
  });

  const stacks = [
    { group: 'Framework', libraries: ['Nuxt', 'Vue.js', 'TypeScript', 'Composition API'] },
    { group: 'Tools', libraries: ['Vite', 'ESLint', 'Cookie', 'ohmyfetch'] },
    { group: 'Database', libraries: ['Sequelize', 'Sqlite'] },
    { group: 'State Container', libraries: ['Pinia', 'Joi'] },
    { group: 'Testing', libraries: ['Vitest', 'Vue Test Utils'] },
    { group: 'Utilities', libraries: ['jQuery', 'DataTables', 'Datepicker', 'Toastr', 'SweetAlert2'] },
    { group: 'UI', libraries: ['Bootstrap', 'Sass', 'Font Awesome', 'favicon'] },
  ];
</script>

<template>
  <main>
    <div class="container my-4">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th scope="col" style="width: 10%;">#</th>
                <th scope="col" style="width: 30%;">Stack</th>
                <th scope="col" style="width: 60%;">library</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(stack, i) in stacks" :key="i">
                <template v-for="(lib, j) in stack.libraries" :key="j">
                  <tr v-if="j === 0">
                    <td>{{i + 1}}.</td>
                    <td class="text-primary">{{stack.group}}</td>
                    <td>{{lib}}</td>
                  </tr>
                  <tr v-else>
                    <td colspan="2">&nbsp;</td>
                    <td>{{lib}}</td>
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</template>
