<script setup lang="ts">
  import { useWeatherStore } from '@/store/weather/weather.store';
  import { City } from '@/store/weather/weather.model';
  
  useHead({
    title: 'City'
  });

  const cookie = useCookie('city', { sameSite: true });
  if (!cookie.value) cookie.value = 'bangkok';

  const store = useWeatherStore();
  const city = store.city;
  const status = store.status;
  const search = ref(cookie.value);
  const background = ref('');

  const getInitialData = async () => {
    const { data } = await useFetch<City>(`/api/weather/${cookie.value}`);

    if (data.value) {
      store.load(data.value);
      background.value = getBackground(data.value?.main.temp ?? 0);
    }
  };

  if (cookie.value) {
    getInitialData();
  }
  
  watch(search, (search) => {
    store.getCity(search);
  });

  watch(status, (status) => {
    if (status === 'idle') {
      cookie.value = search.value;
      background.value = getBackground(city.value?.main.temp ?? 0);
    }
  });

  const setSearch = (name: string) => {
    search.value = name;
  };

  const goBack = () => {
    search.value = cookie.value;
  };

  const getBackground = (temperature: number) => {
    return (temperature > 0)
      ? (temperature > 10)
        ? (temperature > 20)
          ? 'summer-bg'
          : 'spring-bg'
        : 'fall-bg'
      : 'winter-bg';
  };
</script>

<template>
  <main class="main">
    <div
      class="city d-flex justify-content-center align-items-center"
      :class="background"
    >
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
              <WeatherComponent
                v-if="status !== 'failed'"
                :city="city"
                @search="setSearch"
              />
              <GoBackComponent
                v-else
                @go-back="goBack"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped lang="scss">
  .main {
    color: white;
  }

  .city {
    position: relative;
    height: calc(100vh - 51px);
    width: 100vw;
    background: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.fall-bg {
      background-image: url("/assets/images/fall.jpg");
    }

    &.spring-bg {
      background-image: url("/assets/images/spring.jpg");
    }

    &.summer-bg {
      background-image: url("/assets/images/summer.jpg");
    }

    &.winter-bg {
      background-image: url("/assets/images/winter.jpg");
    }
  }
</style>