<script setup lang="ts">
  import { useCounterStore } from '@/store/counter/counter.store';
  import $ from 'jquery';

  useHead({
    title: 'Home'
  });

  const greeting = ref<HTMLElement>();
  const store = useCounterStore();
  const count = store.counter;

  onMounted(() => {
    if (greeting.value) {
      $(greeting.value).html('Hello Nuxt!!');
    }
  });
</script>

<template>
  <main class="main">
    <div class="background">
      <FireFlyComponent />
    </div>

    <div class="nuxt d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h4>
          <span class="fab fa-vuejs h4 me-2"></span>
          <span ref="greeting" class="h4"></span>
        </h4>
        <div class="nuxt-logo my-5"></div>
        <CounterComponent />
      </div>
    </div>

    <footer class="footer fixed-bottom py-3 bg-dark">
      <div class="container d-flex flex-row-reverse">
        <div class="text-light">Counter: {{count}}</div>
      </div>
    </footer>
  </main>
</template>

<style scoped lang="scss">
  .main {
    color: white;
    background: #001e26;
  }

  .nuxt {
    min-height: calc(100vh - 51px);
    text-align: center;
  }

  .nuxt-logo {
    width: 35vmin;
    height: 24vmin;
    pointer-events: none;
    background-image: url("/assets/images/logo.svg");
    background-size: cover;
  }

  .background {
    position: relative;
  }
</style>
