<script setup lang="ts">
  import { useTodoStore } from '@/store/todo/todo.store';
  import { Todo } from '@/store/todo/todo.model';
  import TodoModalComponent from '@/components/TodoModalComponent.vue';

  useHead({
    title: 'Todo'
  });

  const store = useTodoStore();
  const todo = ref<Todo>();
  const todoModal = ref<InstanceType<typeof TodoModalComponent>>();

  const getInitialData = async () => {
    const { data } = await useFetch<Todo[]>('/api/todos');

    if (data.value) {
      store.load(data.value.map(todo => {
        todo.date = new Date(todo.date);
        return todo;
      }));
    }
  };

  await getInitialData();

  const openCreateModal = () => {
    todo.value = undefined;
    todoModal.value?.show();
  };

  const openEditModal = (item: Todo) => {
    todo.value = item;
    todoModal.value?.show();
  };
</script>

<template>
  <main>
    <div class="container my-4">
      <div class="card">
        <div class="card-body">
          <button
            class="btn btn-primary"
            @click="openCreateModal"
          >
            <span class="fas fa-plus me-2"></span>Add
          </button>
          <TodoTableComponent @selected="openEditModal" />
        </div>
      </div>

      <!-- Modals -->
      <ClientOnly>
        <TodoModalComponent
          ref="todoModal"
          :todo="todo"
        />
      </ClientOnly>
    </div>
  </main>
</template>
