.page404 {
  min-height: 100vh;
  background: linear-gradient(60deg, rgba($color: #e23237, $alpha: 1) 0%, rgba($color: #f1948a, $alpha: 1) 100%);
}

.page404-title {
  color: #dc3545;
  font-weight: bold;
}

.card-tranparent {
  background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
}
