.main {
  color: white;
}

.vue {
  min-height: calc(100vh - 51px);
  text-align: center;
  background: linear-gradient(0deg,#38495e,#37ba85);
}

.vue-logo {
  width: 30vmin;
  height: 25.8vmin;
  pointer-events: none;
  background-image: url("@/assets/images/logo.svg");
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .vue-logo {
    animation: vue-logo-flip 8s infinite linear;
  }
}

@keyframes vue-logo-flip {
  75% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}
