<template>
  <teleport to="body">
    <div
      ref="baseModal"
      class="modal fade"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable"
        :class="{
          'modal-sm': size === 'sm',
          'modal-lg': size === 'lg',
          'modal-xl': size === 'xl',
          'modal-fullscreen': size === 'fullscreen'
        }"
      >
        <div class="modal-content" :class="{'modal-content-overflow': overflow}">
          <div class="modal-header">
            <h5 class="modal-title">
              <slot name="title"></slot>
            </h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              @click="hide">
            </button>
          </div>
          <div class="modal-body" :class="{'modal-body-overflow': overflow}">
            <slot></slot>
          </div>
          <div class="modal-footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script src="./ModalComponent.ts" lang="ts"></script>
<style src="./ModalComponent.scss" lang="scss" scoped></style>
