<main>
  <div class="container my-4">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 10%;">#</th>
              <th scope="col" style="width: 30%;">Stack</th>
              <th scope="col" style="width: 60%;">library</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let stack of stacks; let i = index">
              <ng-container *ngFor="let lib of stack.libraries; let j = index">
                <tr *ngIf="j === 0; else elseBlock">
                  <td>{{ i + 1 }}.</td>
                  <td class="text-primary">{{ stack.group }}</td>
                  <td>{{ lib }}</td>
                </tr>
                <ng-template #elseBlock>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                    <td>{{ lib }}</td>
                  </tr>
                </ng-template>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
